/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  background-image: url("https://images3.alphacoders.com/109/1091500.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* App container */
.app-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(18, 18, 18, 0.4);
  border-radius: 16px;
  border-bottom: 3px solid #df8e00;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #eeeeee;
}

header input:focus {
  background-color: rgba(18, 18, 18, 0.8);
}

/* Main content */
main {
  flex: 1;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #eeeeee;
  font-size: 16px;
}

.current .temp {
  color: #eeeeee;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}

.current .temp span {
  font-weight: 200;
}

.current .weather {
  color: #eeeeee;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #eeeeee;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #ddd;
  padding: 1rem 0;
  margin-top: auto;
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
}



.location .time {
  font-size: 18px;
  color: #f4f4f4;
  margin-top: 6px;
}

